<%= form_for(@topic) do |f|%>
  <% if @topic.errors.any? %>
    <div class"alert-danger alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label1="Close"><span aria-hidden="true">&times;</span></button>
      <h2><%= @topic.errors.count%>件のエラーがあります</h2>
      <ul style="list-style:none">
        <% @topic.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :title, style:"color:#FFF" %>
  <%= f.text_field :title, class:'form-control'%>
  <br>
  <%= f.label :content, style:"color:#FFF" %>
  <%= f.text_area :content, class:'form-control', class:"form-content-area" %>
  <br>
  <%= f.submit'Post',class:'form-btn  btn btn-default btn-outline btn-block' %>
<% end %>
